$font-stack: 'Red Hat Display', sans-serif;
$color-dark: #28283D;
$color-light-grey: #C4C4C4;
$color-dark-green: #4D96A9;
$color-dark-green-transparent: rgba(77, 150, 169,0.9);
$color-light-green: #8FE3F9;
$color-active-green: #71C0D4;
$color-active-purple: #B18BDD;
$color-white: white;
$color-purple: #855FB1;
$color-shadow: rgba(0, 0, 0, 0.25);
$color-black: #000000;
$color-grey: #87879D;
$color-dirty-white: #FAFAFA;
$color-light-purple: #D9B8FF;
$color-line: #D8D8D8;
$color-number: #87879D;

@media only screen and (min-device-width: 375px) {
    body {
        background-color: $color-dirty-white;
        font-family: $font-stack;
        font-style: normal;
        margin: 0;
        padding: 0;

        .section {
            max-width: 375px;
            width: 100%;
            margin: 0 auto;

            .logo {
                text-align: center;
                margin-top: 48px;

                .img {
                    width: 119px;
                    height: 28px;
                }
            }

            .container-top-desktop {
                display: none;
            }

            .container-avatars {
                width: 375px;
                height: 153px;
                margin-top: 54px;
                overflow: hidden;

                .container-avatars-inner {
                    width: 416px;
                    height: 153px;
                    margin-left: -21px;
                    margin-right: -21px;
                    display: flex;

                    .images-column {
                        width: 56px;
                        display: inline-block;
                        margin-right: 16px;

                        .avatar-image {
                            width: 56px;
                            height: 56px;
                            border-radius: 50%;
                        }

                        .image-margin-bottom {
                            margin-bottom: 14px;
                        }
                    }

                    .images-padding-top {
                        padding-top: 28px;
                    }

                    .images-padding-bottom {
                        padding-bottom: 28px;
                    }

                    .no-margin-right {
                        margin-right: 0;
                    }
                }
            }

            .container-top {
                width: 327px;
                margin: 0 auto;

                .heading-top {
                    text-align: center;
                    margin: 0;
                    padding-top: 48px;
                    height: 88px;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 44px;
                    color: $color-dark;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                .paragraph-top {
                    width: 327px;
                    height: 78px;
                    margin: 0 auto; 
                    padding-top: 24px;        
                    text-align: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: $color-grey;
                }
                
                .button-download {
                    display: block;
                    width: 193px;
                    height: 58px;
                    margin: 32px auto 0 auto;
                    background-color: $color-dark-green;
                    font-size: 16px;
                    line-height: 26px;
                    color: $color-white;
                    font-weight: 900;
                    border-radius: 29px;
                    border: 0;
                    text-align: center;
    
                    .button-text {
                        color: $color-light-green;
                    }
                }
                
                .button-what {
                    display: block;
                    width: 139px;
                    height: 58px;
                    margin: 16px auto 0 auto;
                    background-color: $color-purple;
                    font-size: 16px;
                    line-height: 26px;
                    color: $color-white;
                    font-weight: 900;
                    border-radius: 29px;
                    border: 0;
                    text-align: center;
                }
            }

            .number-placeholder {
                width: 100%;
            }

            .container-number {
                width: 100%;
                margin-top: 64px;
                text-align: center;

                .number-line {
                    width: 1px;
                    height: 84px;
                    border: 0;
                    margin: 0 auto;
                    background-color: $color-line;
                    opacity: 0.6;
                }

                .number-button {
                    width: 55px;
                    height: 55px;
                    border: 1px solid $color-line;
                    border-radius: 50%;
                    color: $color-number;
                    background-color: $color-dirty-white;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 26px; 
                }

                a {
                    color: $color-number;
                    background-color: $color-dirty-white;
                    text-decoration: none;
                }
            }

            .number-2 {
                position: relative;
                bottom: -28px;
            }
            
            .container-images {
                width: 100%;

                .container-images-top {
                    width: 327px;
                    height: 143px;
                    margin: 64px auto 0 auto;
                    display: flex;
                }
    
                .images {
                    width: 151px;
                    height: 143px;
                    margin: 0;
                    border-radius: 8px;
                    display: inline-block;
                }
    
                .image-frst {
                    margin-right: 25px;
                }
            
                .container-images-bottom {
                    width: 327px;
                    height: 167px;
                    margin: 24px auto 0 auto;
                    display: flex;
                }
    
                .image-last {
                    margin-left: 25px;
                }
            }
            
            .container-bottom {
                width: 327px;
                height: 284px;
                margin: 64px auto 0 auto;

                .container-bottom-text-top {
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 4px;
                    color: $color-dark-green;
                    text-align: center;
                    text-transform: uppercase;
                }

                .container-bottom-heading {
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 36px;
                    text-align: center;
                    color: $color-dark;
                    margin-top: 24px;
                }

                .container-bottom-text-bottom {
                    width: 100%;
                    height: 130px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    color: $color-grey;
                    margin-top: 32px;

                    .space {
                        white-space: nowrap;
                    }
                }
            }

            footer {
                background-image: url("../images/mobile/image-footer.jpg");
                background-size: cover;
                background-position: center;

                .container-footer{
                    width: 375px;
                    height: 428px;
                    background-color: $color-dark-green-transparent;

                    .footer-heading {
                        padding-top: 92px;
                        margin: 0 auto;
                        font-weight: 900;
                        font-size: 32px;
                        line-height: 36px;
                        text-align: center;
                        color: $color-dirty-white;
                    }

                    .footer-text {
                        margin: 24px auto 0 auto;
                        width: 327px;
                        height: 78px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 26px;
                        text-align: center;
                        color: $color-dirty-white;
                    }

                    .footer-button {
                        width: 193px;
                        height: 58px;
                        margin: 32px 92px 72px 90px;
                        background-color: $color-purple;
                        color: $color-white;
                        font-weight: 900;
                        font-size: 16px;
                        line-height: 26px;
                        border-radius: 29px;
                        border: 0;
                        text-align: center;

                        .purple-text {
                            color: $color-light-purple;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) {
    body {
        .section {
            max-width: 768px;

            .container-avatars {
                width: 768px;
                height: 303px;
                margin-top: 64px;

                .container-avatars-inner {
                    width: 820px;
                    height: 303px;
                    margin-left: -26px;
                    margin-right: -26px;
                    display: flex;

                    .images-column {
                        width: 110px;
                        margin-right: 32px;

                        .avatar-image {
                            width: 110px;
                            height: 110px;
                        }

                        .image-margin-bottom {
                            margin-bottom: 28px;
                        }
                    }

                    .images-padding-top {
                        padding-top: 55px;
                    }

                    .images-padding-bottom {
                        padding-bottom: 55px;
                    }
                }
            }

            .container-top {
                width: 457px;

                .heading-top {
                    padding-top: 72px;
                    height: 96px;
                    font-size: 48px;
                    line-height: 48px;
                    padding-left: 59px;
                    padding-right: 59px;
                }

                .paragraph-top {
                    width: 457px;
                    height: 52px;
                }
                
                .buttons {
                    width: 348px;
                    margin: 0 auto;
                    padding-top: 32px;

                    .button-download {
                        display: inline-block;
                        margin-right: 12px;
                        margin-top: 0;
                    }
                    
                    .button-what {
                        display: inline-block;
                        margin-top: 0;
                    }
                }   
            }

            .container-number {
                margin-top: 80px;
            }

            .container-images {
                width: 689px;
                height: 156px;
                margin: 67px auto 0 auto;
                display: flex;
                justify-content: center;

                .container-images-top {
                    width: 350px;
                    height: 156px;
                    margin: 0;
                    display: inline-flex;
                }
    
                .images {
                    width: 164px;
                    height: 156px;
                    margin-right: 11px;
                }
    
                .image-frst {
                    margin-right: 11px;
                }
            
                .container-images-bottom {
                    width: 350px;
                    height: 156px;
                    margin: 0;
                    display: inline-flex;
                }
    
                .image-last {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            
            .container-bottom {
                width: 573px;
                height: 240px;
                margin: 48px auto 0 auto;

                .container-bottom-heading {
                    font-size: 40px;
                    line-height: 44px;
                    margin-top: 16px;
                    padding-left: 64px;
                    padding-right: 64px;
                }

                .container-bottom-text-bottom {
                    width: 573px;
                    height: 78px;
                }
            }

            footer {
                background-image: url("../images/tablet/image-footer.jpg");

                .container-footer{
                    width: 768px;
                    height: 428px;

                    .footer-heading {
                        padding-left: 155px;
                        padding-right: 156px;
                        font-size: 40px;
                        line-height: 44px;
                    }

                    .footer-text {
                        margin: 32px auto 0 auto;
                        width: 573px;
                        height: 52px;
                    }

                    .footer-button {
                        margin: 40px 288px 66px 287px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 1440px) {
    body {
        .section {
            max-width: 1440px;

            .logo {
                margin-top: 80px;
            }

            .container-avatars {
                display: none;
            }

            .container-top {
                display: none;
            }

            .container-top-desktop {
                display: block;
                width: 1440px;
                margin-top: 80px;
                overflow: hidden;

                .container-top-inner {
                    width: 1504px;
                    height: 367px;
                    margin-left: -32px;
                    margin-right: -32px;
                    display: inline-flex;
            
                    .images-box {
                        display: inline-block;
                        width: 426px;
            
                        .images-column {
                            width: 142px;
                            height: 358px;
                            display: inline-block;
                        }
        
                        .left-images-box {
                            margin: 0;
                            width: 100%;
                            height: 367px;
                            display: flex;
        
                            .images-column {
                                margin-right: 32px;
                            }
                        }
                        
                        .right-images-box {
                            margin: 0;
                            width: 100%;
                            height: 367px;
                            display: flex;
        
                            .images-column {
                                margin-left: 32px;
                            }
                        }

                        .images-padding-top {
                            padding-top: 55px;
                        }
                    
                        .images-padding-bottom {
                            padding-bottom: 55px;
                        }
                    
                        .avatar-image {
                            width: 110px;
                            height: 110px;
                            border-radius: 50%;
                        }
                    
                        .image-margin-bottom {
                            margin-bottom: 28px;
                        }
                    }

                    .middle-container {
                        width: 540px;
                        height: 305px;
                        display: inline-block;
                        margin-left: 56px;
                        margin-right: 56px;
                    
                        .middle-container-heading {
                            text-align: center;
                            color: $color-dark;
                            font-size: 64px;
                            line-height: 64px;
                            font-weight: 900;
                            margin: 0;
                            padding-left: 57px;
                            padding-right: 57px;

                            &:active, &:hover {
                                text-shadow: 0px 4px 4px $color-shadow;  
                            }
                        }
                
                        .middle-container-text {
                            text-align: center;
                            color: $color-light-grey;
                            font-size: 18px;
                            line-height: 26px;
                            font-weight: 500;
                            text-shadow: 0px 4px 4px $color-shadow;
                            -webkit-text-stroke: 1px $color-black;
                            padding-top: 27px;
                            padding-bottom: 40px;
                            margin: 0;

                            &:active, &:hover {
                                color: $color-grey;
                                text-shadow: 0 0 0;
                                -webkit-text-stroke: 0;
                            }
                        }
            
                        .buttons {
                            width: 348px;
                            height: 58px;
                            margin: 0 auto;
                            display: flex;
            
                            .button-download {
                                background-color: $color-dark-green;
                                width: 193px;
                                height: 58px;
                                font-weight: 900;
                                color: $color-white;
                                font-size: 16px;
                                line-height: 26px;
                                border-radius: 29px;
                                filter: drop-shadow(0px 4px 4px $color-shadow);
                                border: 0;
                                margin-right: 16px;
            
                                .text-button {
                                    color: $color-light-green;
                                }

                                &:active, &:hover {
                                    background-color: $color-active-green;
                                    filter: none;
                                    cursor: pointer;
                                }
                            }
            
                            .button-what-is {
                                background-color: $color-purple;
                                width: 139px;
                                height: 58px;
                                font-weight: 900;
                                color: $color-white;
                                font-size: 16px;
                                line-height: 26px;
                                border-radius: 29px;
                                border: 0;

                                &:active, &:hover {
                                    background-color: $color-active-purple;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .padding-top-59 {
                padding-top: 59px;
            }

            .container-number {
                margin-top: 110px;
            }

            .number-2 {
                margin-top: 72px;
            }

            .container-images {
                width: 1110px;
                height: 242px;
                margin: 64px auto 0 auto;

                .container-images-top {
                    width: 570px;
                    height: 242px;
                }
    
                .images {
                    width: 255px;
                    height: 242px;
                    margin-right: 30px;
                }
    
                .image-frst {
                    margin-right: 30px;
                }
            
                .container-images-bottom {
                    width: 570px;
                    height: 242px;
                }
            }
            
            .container-bottom {
                width: 540px;
                margin: 80px auto 0 auto;

                .container-bottom-heading {
                    padding-left: 48px;
                    padding-right: 47px;
                }

                .container-bottom-text-bottom {
                    width: 540px;
                    height: 78px;
                    font-size: 18px;

                    .space {
                        white-space: normal;
                    }

                    &:active, &:hover {
                        -webkit-text-stroke: 1px $color-black;

                        .space {
                            white-space: nowrap;
                        }
                    }
                }
            }

            footer {
                background-image: url("../images/desktop/image-footer.jpg");

                .container-footer{
                    width: 100%;
                    height: 308px;

                    .container-footer-inner-desktop {
                        width: 1110px;
                        height: 88px;
                        padding-top: 116px;
                        margin: 0 auto;
                        display: flex;

                        .footer-heading {
                            display: inline-block;
                            width: 350px;
                            height: 88px;
                            margin: 0;
                            padding: 0;
                            text-align: left;
                        }
                    
                        .footer-text {
                            display: inline-block;
                            width: 350px;
                            height: 78px;
                            margin: 0 0 0 125px;
                            padding: 0;
                            text-align: left;

                            p {
                                margin: 0;
                            }
                        }

                        .footer-button {
                            display: inline-block;
                            margin: 15px 0 0 92px;

                            &:active, &:hover {
                                background-color: $color-active-purple;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
